nav {
    width: 100%;
    position: relative;
    z-index: 1000;
}
.nav-container {
    width: 100%;
    display: flex;
    font-family: 'geist', sans-serif;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(20px);
    align-items: center;
    padding: 12px 24px;
    position: fixed;
    z-index: 1000;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.nav-logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-logo img {
    width: 1.5rem;
}

.nav-menu {
    width: 60%;
}

.nav-menu .nav-link {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.nav-menu .nav-link a {
    text-decoration: none;
    color: $text-primary;
    font-size: .8rem;
    transition: color 0.3s ease;
    &:hover {
        color: blue; // Change hover color to blue
    }
    &:checked {
        color: $link-hover;
    }
}

.nav-icon {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    .nav-icon-item {
        margin-left: .5rem;
    }
}

.nav-icon-item a {
    text-decoration: none;
    color: $text-primary;
    font-size: .8rem;
    margin-left: 1rem;
    transition: color 0.3s ease;
    &:hover {
        color: $link-hover;
    }

    i {
        font-size: .8rem;
    }
}

.nav-icon-item .fa-bars {
    font-size: 1rem;
    margin-left: 1rem;
    display: none;
    margin-top: 4px;

    i {
        color: $link-hover;
    }

    &:hover {
        color: $link-hover;
    }
}

.dropdown-menu {
    display: none;
    padding: 1rem 0;
    width: 100%;
    background-color: rgba(184, 168, 168, 0.458);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 4rem;
    z-index: 100;

    .nav-link {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        #nav-mac {
            display: flex;
            justify-content: space-between;

            i {
                font-size: 1rem;
            }
        }

        a {
            text-decoration: none;
            color: $text-primary;
            margin-bottom: 1rem;
            padding: .5rem 1rem;
            transition: color 0.3s ease;

            &:hover {
                color: $link-hover;
            }
        }
    }
}
.d-manu {
    width: 110px;
    height: 150px;
    padding: .4rem 0;
    background-color: #fff;
    position: absolute;
    border-radius: .4rem;
    top: 3.5rem;
    left: 67%;
    display: none;

    .drop-link {
        display: flex;
        flex-direction: column;
        a {
            color: #000000;
            padding: 1rem .5rem;
            display: inline-block;
            @extend .a;
        }
    }
}

#mac{
    @extend .manu;
 
    padding-right: 7rem !important;
   left:23%;
   z-index: 1000;
    .mac-link{
        @extend .manu-links;
        a{
            @extend .a;
        }
    }
}
#ipad{
    @extend .manu;
    
    padding-right: 7rem !important;
    left: 32%;
    z-index: 1000;
    .ipad-link{
        @extend .manu-links;
        a{
            @extend .a;
        }
    }
}
#iphone{
    @extend .manu;
   
    left: 40%;
    .iphone-link{
        @extend .manu-links;
        a{
            @extend .a;
        }
    }
    }
#watch{
    @extend .manu;

    padding-right: 7rem !important;
    left: 48%;
    .watch-link{
        @extend .manu-links;
        a{
            @extend .a;
            }
    }
}
#airpods{
    @extend .manu;
    padding-right: 7rem !important;
    left: 57%;
    .airpods-link{
        @extend .manu-links;
        a{
            @extend .a;
        }
    }
}