.a{
    text-decoration: none;
    color: $text-primary;
}
.simple-btn-link{
    padding: 10px 20px;
    border-radius: 25px;
    background-color: $bg-primary;
    margin: 10px 0;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
//font-face
@mixin content{
    h2 {
        font-size: 3rem;
        font-weight: 900;
        font-family: 'geist', sans-serif;
        margin-top: 1rem;
    }

    p {
        font-size: 1rem;
        padding-top: 0.9rem;
        font-family: 'open-sans', sans-serif;
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: $text-light;
        font-size: 1rem;
        padding: 13px 23px;
        border-radius: 25px;
        background-color: $bg-primary;
        margin-top: 1rem;
        &:hover {
            background-color: #0056b3;
        }
    }
}
.a{
    text-decoration: none; 
    color: #030303;
    font-size: 1rem; 
    font-weight: 400; 
    font-family: 'Segoe UI', sans-serif; 
    border-width: 0px;
    padding: .5rem 0;
    position: relative;
    &::before{
        content: '';
        display: inline-block;
        width: 0;
        height: 3px;
        background-color: $blue;
        transition: width 0.3s ease; 
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &:hover{
        color: rgb(40, 116, 160);
        &::before{
            width: 100%;
        }
        
        
    }
}
.manu {
    position: fixed;
    top: 3.3rem;
    left: 0;
    background-color: rgba(236, 222, 222, 0.293);
    backdrop-filter: blur(10px);
    padding-right: 7rem;
    border-radius: 10px;
    z-index: 100;
    display: none;
}
.manu-links{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}

